@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cuprum:wght@700&display=swap');
.favourite-title{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 5rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.fav-text{
    font-family: 'Bowlby One SC', cursive;
}