@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cuprum:wght@700&display=swap');
.main-title{
    font-family: 'Bowlby One SC', cursive;
    font-size: 3.5rem;
}
.information-tag{
    font-family: 'Concert One', cursive;
}