@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap');

.nav-active{
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.8px);
-webkit-backdrop-filter: blur(16.8px);
}

.nav-text{
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5rem;
}